<%- include("partials/header"); -%>
    <h1>About</h1>
    <p>Hii, this is Akshitha, I have done this Blog website using EJS, NodeJS, CSS, Express..!<br>
      Hope you LOved it and make it Comfortable to you <OwO>..!</p>
    <p> <%= aboutContent %> </p>
<%- include("partials/footer"); -%>
