<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <p>To Contact me through email, this is the one <a href="mailto:akshithadevimoram@gmail.com">email me</a>"</p>
<%- include("partials/footer"); -%>
